/* default */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
 
}
body{
    background-color:rgb(54, 54, 54);

}
/* title */
h1{
    display:flex;
    justify-content:center;
    margin-left:2vw;
    margin-top:5vh;
    font-size:2.6rem;
    color:white;
}
/* box-master */
.box-master{
    background-color:rgb(73, 69, 69);
    height:60vh;
    width:20vw;
    margin-top:16vh;
    margin-left:41vw;
    border-radius:10px;
}
/* input */
.input{
    margin-top:2vh;
    margin-left:2vw;
    width:16vw;
    background-color:white;
    height:9vh;
    border-radius:5px;

}
span{
    color:rgb(73, 69, 69);
}

/* table */ 
table{
    display:flex;
    justify-content:center;
    margin-top:3vh;
}
/* the lines */
 button{
    border:none;
    background-color:rgb(31, 31, 31);
    color:white;
    font-weight:bold;
    width:4vw;
    height:8vh;
}
#resultado{
    text-align:right;
    font-weight:bold;
    font-size:1.9rem;
    margin-inline:10px;
}
/* span2 */
.span2{
    color:white;
}

/* zero anda igual */
.igual{
    background-color:rgb(242, 122, 81);
    height:16vh;    
}
.zero{
    width:8.4vw;
}
